body,html, .main{
	height: 100%;
	margin: 0px;
	font-family: 'Noto Sans', sans-serif;
	
}

body{
	background-color: #808080;
	overflow: hidden;
}

#back{
	position: fixed;
	display: block;
	min-width: 90%;
	min-height: 90vh;
	left:5%;
	top: 5vh;
	z-index: 0;
	background-color: white;
	border-radius: 40px;
	box-shadow: 0px 5px 60px black;
	border-width: 0px;
	opacity: 0.8;
}

#back:active{
	transform: scale(0.99, 0.99);
	box-shadow: 0px 5px 30px black;
}

p{
	margin: 0px;
}

#title{
	position: absolute;
	top: 80px;
	left: 50%;
	transform: translate(-50%);
	display: block;
	text-align: center;
	font-size: 48px;
	color: #000d1a;
	/*z-index: 0;*/
}

#image{
	/*display: block;*/
}

#cover{
	position: absolute;
	margin-top: 180px;
	left: 50%;
	transform: translate(-50%);
	width: 500px;
	height: 500px;
	background: url("image/album.png");
	background-size: 500px 500px;
	border-radius: 10px;
	z-index: 1;
}

#control{
	position: absolute;
	margin-top: 10px;
	left: 50%;
	transform: translate(-50%);
	width: 500px;
	height: 500px;
	background: url("image/pause.png");
	background-size: 500px 500px;
	opacity: 0;
	z-index: 2;
	transition: opacity 0.5s;
	display: none;
}

#control:hover{
	opacity: 0.8;
}

#switch{
	position: absolute;
	/*z-index: 1;*/
	display: block;
	left: 50%;
	bottom: 110px;
	transform: translate(-50%);
	margin-top: 50px;
	/*margin: 50px auto 0px;*/
	font-size: 24px;
	text-align: center;
	background-color: #ff9966;
	border-radius: 20px;
	width: 150px;
	height: 50px;
	border: none;
	color: white;
	transition: all 0.5s;
	cursor: pointer;
}

#switch{
	box-shadow: 0px 0px 10px #808080;
}



span {
 	cursor: pointer;
 	display: inline-block;
	position: relative;
 	transition: 0.5s;

}

span:after {
 	content: '\00bb';
  	position: absolute;
 	opacity: 0;
  	top: 0;
  	right: -20px;
  	transition: 0.5s;
}

#switch:hover span {
  	padding-right: 25px;
}

#switch:hover span:after {
  opacity: 1;
  right: 0;
}

#switch:active{
	/*transform: scale(0.99, 0.99);*/
	box-shadow: 0px 0px 0px #808080;
	transition: 0s;
}


